autobuild/autobuild-web-build-menu.png filter=lfs diff=lfs merge=lfs -text
autobuild/autobuild-web-log-build-in-progress.png filter=lfs diff=lfs merge=lfs -text
autobuild/autobuild-web-log-build-successful.png filter=lfs diff=lfs merge=lfs -text
autobuild/autobuild-web-mobile-log-build-in-progress.jpeg filter=lfs diff=lfs merge=lfs -text
autobuild/autobuild-web-mobile-log-build-successful.jpeg filter=lfs diff=lfs merge=lfs -text
autobuild/autobuild-web-mobile-build-menu.jpeg filter=lfs diff=lfs merge=lfs -text
images/bookthief-screenshot2.webp filter=lfs diff=lfs merge=lfs -text
images/adv3.webp filter=lfs diff=lfs merge=lfs -text
images/bookthief-print1.webp filter=lfs diff=lfs merge=lfs -text
images/bookthief-screenshot1.webp filter=lfs diff=lfs merge=lfs -text
images/bookthief-after.webp filter=lfs diff=lfs merge=lfs -text
images/bookthief-before.webp filter=lfs diff=lfs merge=lfs -text
images/bookthief-print2.webp filter=lfs diff=lfs merge=lfs -text
images/icons filter=lfs diff=lfs merge=lfs -text
images/adv1.webp filter=lfs diff=lfs merge=lfs -text
images/adv2.webp filter=lfs diff=lfs merge=lfs -text
images/av.webp filter=lfs diff=lfs merge=lfs -text
images/icons/lock.webp filter=lfs diff=lfs merge=lfs -text
images/icons/mail.webp filter=lfs diff=lfs merge=lfs -text
images/icons/money.webp filter=lfs diff=lfs merge=lfs -text
images/icons/print.webp filter=lfs diff=lfs merge=lfs -text
images/icons/suitcase.webp filter=lfs diff=lfs merge=lfs -text
images/icons/briefcase.webp filter=lfs diff=lfs merge=lfs -text
images/icons/download.webp filter=lfs diff=lfs merge=lfs -text
bt/bt-tricontinental-study.pdf filter=lfs diff=lfs merge=lfs -text
bt/crime-and-punishment.pdf filter=lfs diff=lfs merge=lfs -text
bt/20210719_Study-Alleviation-of-poverty_EN_Web-1.pdf filter=lfs diff=lfs merge=lfs -text
bt/bookthief-crime[[:space:]]and[[:space:]]punishment.zip filter=lfs diff=lfs merge=lfs -text
autobuild/autobuild-web-mobile-repository-menu.png filter=lfs diff=lfs merge=lfs -text
autobuild/autobuild-web-repository-menu.png filter=lfs diff=lfs merge=lfs -text
